language: csharp
solution: Dexter.sln
sudo: false
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
os:
  - linux
branches:
  only:
    - master
    - release
dist: trusty
script:
  - dotnet restore
  - dotnet build 
